.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.navbar ul li {
  color: black;
  font-size: 2em;
  padding-right: 20px;
  display: inline; 
}

.main-section {
  height: 100vh;
  background-color: lightblue;
}
.entertainment-section {
  height: 100vh;
  background-color: blueviolet;
}
.technology-section {
  height: 100vh; 
  background-color: grey;
}
h1{
  padding-top: 40px;
  text-align: center;
}